*{
    text-decoration: none;
}

header{
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #FFF;
    background-color: #333;
    position: fixed;
    height: 52px;
    opacity: 0.8;
}

nav{
    width: 100%;
}

footer{
    width: 960px;
    margin: auto;
    color: #FFF;
    height: 26px;
    background-color: #333;
    position: relative;
    border-radius: 0 13px 0 13px;
    opacity: 0.8;
}

.header{
    width: 960px;
    height: 52px;
    margin: auto;
}

.headerButton{
    height: 46px;
    width: 143px;
    text-align: center;
}

.headerButton:hover{
    border-bottom: 6px #AA2222 solid;
}

.buttonContainer{
    margin-top: 12px;
    font-size: 23px;
}

.searchBox{
    height: 24px;
    margin-top: 12px;
    border-radius: 13px;
    width: 240px;
    background-color: #FFF;
    padding: 2px;
    padding-left: 12px;
}

.searchButton{
    text-align: center;
    width: 24px;
    height: 20px;
    border-radius: 12px;
    background-color: #333;
    color: #FFF;
    padding-top: 4px;
    /*todo rever padding da lupa*/
}

.nav{
    width: 960px;
    margin: auto;
    margin-top: 52px;
    min-height: 480px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer{
    width: 480px;
    margin: auto;
    text-align: center;
    padding-top: 2px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.buttonLink{
    color: #FFF;
    text-decoration: none;
}

.buttonLink:hover{
    color: #FFF;
    text-decoration: none;
}

#txtSearch{
    border: none ;
}

#txtSearch:focus{
    outline: none;
}

